<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRAND NEW</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function deleteEmail() {
            let email = $("#email").val();
            $.ajax({
                type: "POST",
                url: "/delete",
                data: {user_email: email}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("New product notification has been terminated.");
                    } else {
                        alert("I have a problem. Please enter again.")
                    }
                }
            })
        }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="blackbg">
<div class="blackbg">
    <div class="back"><a class="white" href="http://0.0.0.0:5000/"><img class="arrow" src="/static/css/arrow.png">BACK</a></div>
    <div class="blackwrap">
        <div class="container">
            <img class="bye" src="/static/css/bye.png">
            <h2>let’s delete<br>your account</h2>
            <div class="contents left">
                Hope you’ve got your own unique piece of Hawaii Five-O.
                Now let's stop the alarm by deleting your account.
            </div>
            <div>
                <p>
                    <input class="dark" id="email" type="text" placeholder="Type your e-mail"/>
                </p>
            </div>
            <button class="whitebtn" onclick="deleteEmail()">DELETE THIS ACCOUNT</button>
        </div>
    </div>
</div>
</body>
</html>