<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRANDNEW STH</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function postemail() {
                let email = $("#email").val();
                $.ajax({
                    type: "POST", // POST 방식으로 요청하겠다.
                    url: "/index", // /memo라는 url에 요청하겠다.
                    data: {user_email: email}, // 데이터를 주는 방법
                    success: function (response) { // 성공하면
                        if (response["result"] == "success") {
                            alert("신상 알림이 등록되었습니다!");
                            // 3. 성공 시 페이지 새로고침하기
                            window.location.reload();
                        } else {
                            alert("문제가 생겼습니다. 다시 입력해주세요.")
                        }
                    }
                })
            }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
<div class="container">
    <img class="logo" src="/static/css/brandnew.png">
    <h1>HAWAII FIVE-O</h1>
    <div class="contents">
        Are you a big fan of Freitag’s <a class="textlink" href="https://www.freitag.ch/ko/f41?items=showall" target="_blank">HAWAII FIVE-O</a> product?
          As soon as a new product is posted on the official website,
        <b class="strong">BRAND NEW STH</b> will notify you by email immediately!
    </div>
    <div>
        <p>
            <input placeholder="Type your e-mail" id="email" type="text" />
        </p>
    </div>
    <button onclick="postemail()">SEND ME ALARM</button>
    <br>
    <div class="subbtn">
        <a href ="/delete" >WANNA DELETE ACCOUNT?</a>
    </div>
</div>
</div>
</body>
</html>